{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "@medic"
  ],
  "plugins": [
    "json"
  ],
  "rules": {
    "max-len": "off",
    "no-console": "off",
    "no-var": "error",
    "no-debugger": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  },
  "globals": {
    "Utils": true,
    "reports": true,
    "lineage": true,
    "contact": true
  }
}